//-------------------------------------- Other ---------------------------------------//
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    width: 100%;
    background-color: skyblue;
}

.page-container {
    width: 900px;
    margin: 10px auto;
    background-color: white;
}
//-------------------------------------- /Other ---------------------------------------//


//-------------------------------------- header ---------------------------------------//
.Navigation {
    
    height: 10vh;
    background-color: rgb(112, 125, 129);
    &-bar {
        text-decoration: none;
        list-style: none;
        display:flex;
        justify-content: space-around;
        text-decoration: none;
        li {
            list-style: none;
            text-decoration: none;
            font-size: 24px;
        }
    }
}

//-------------------------------------- /header ---------------------------------------//

//-------------------------------------- Catalog ---------------------------------------//
.List {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;

    .List-item {
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 250px;
        &__image{
            width: 180px;
            height: 160px;
        }
        &__name,&__price {
            font-size: 14px;
        }
    }
}

//-------------------------------------- /Catalog ---------------------------------------//

//-------------------------------------- Cart -------------------------------------------//

.Cart {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    &-total {
        display: flex;
        flex-direction: column;
        &__price {
            justify-self: flex-end;
        }
        &__title {
            justify-items: flex-start
        }
    }
}

//-------------------------------------- /Cart ------------------------------------------//
